body {
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    height: 89px;
    background-color: #404EED;
    display: flex;
    justify-content: space-between; /* os elementos continuam colados */
}

.header div {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 80px;
}

.header div img {
    margin-left: 130px;
}

.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-esquerdo {
    width: 50%;
    height: 785px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.confeccao-camisa {
    width: 400px;
    height: 706px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.confeccao-camisa .secao-modelo .opcoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confeccao-camisa .secao-gola .opcoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confeccao-camisa .secao-tecido .opcoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.confeccao-camisa .titulo {
    font-size: 18px;
    line-height: 21px;
    color: #232323;
    margin-bottom: 8px;
    text-align: center;
}

.confeccao-camisa .opcao .imagem {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:#E5E5E5;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confeccao-camisa .opcao .imagem img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:#E5E5E5;
    
}

.confeccao-camisa .secao-modelo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
}

.confeccao-camisa .secao-gola {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: -31px;
}

.confeccao-camisa .secao-tecido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: -31px;
}

.confeccao-camisa .secao-modelo .opcoes .imagem.selecionado {
    border: 3px solid #404EED;
    width: 100px;
    height: 100px;
    border-radius: 50%
}

.confeccao-camisa .secao-gola .opcoes .imagem.selecionado {
    border: 3px solid #404EED;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.confeccao-camisa .secao-tecido .opcoes .imagem.selecionado {
    border: 3px solid #404EED;
    width: 100px;
    height: 100px;
    border-radius: 50%;
} 

.secao-modelo,
.secao-gola,
.secao-tecido {
    margin-bottom: 32px;
}

.footer {
    margin-top: 32px;
    margin-bottom: 38px;
}

.footer .titulo {
    font-size: 18px;
    line-height: 21px;
    color: #232323;
    margin-bottom: 8px;
    
}

.footer .input input {
    width: 396px;
    height: 40px;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.footer .input input::placeholder {
    font-size: 14px;
    line-height: 16px;
    color: #818181;
    padding-left: 15px;
}

.footer .botao button {
    width: 396px;
    height: 40px;
    background-color: #c4c4c4;
    border-radius: 10px;
    margin-top: 23px;   
}

/* não formatou texto do botão */
.footer .botao button::placeholder {
    font-size: 20px;
    line-height: 23px;
    color: #FCFCFC;
}

.footer .confirmar-pedido.ativo {
    background-color: #404EED;
}

.container-direito {
    width: 50%;
    height: 785px;
    background-color: #404EED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-direito div img {
    width: 602px;
    height: 702px;
}

.container-secundario {
    width: 100%;
    height: 342px;
    background-color: #E5E5E5;
}

.container-secundario div {
    display: flex;
    align-items: center;  /* padding-left só funciona em p qdo aciona o display */
} /* portanto, é melhor colocar a tag p dentro de uma div */

.container-secundario p {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #232323;
    padding-top: 30px;
    padding-left: 122px;
}

/* .container-secundario .ultimos-pedidos {
    
}
 */
.container-secundario .ultimo-pedido {
    width: 201px;
    height: 236px;
    margin-left: 122px;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-secundario .ultimo-pedido .foto-camisa {
    width: 180px;
    height: 180px;
}

.container-secundario .ultimo-pedido .titulo-criador {
    width: 130px;
    height: 23px;
   /*  font-weight: 700;
    font-size: 20px;
    line-height: 23px; */
    color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
}
